<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="FlashCards.UnitTests.FlashCards.UnitTests" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk />
	<application android:label="FlashCards.UnitTests" android:icon="@drawable/Icon"></application>
</manifest>